<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7z1QF0U1HaX_2bM2QKduBTA1O5656Fqs</string>
	<key>GCM_SENDER_ID</key>
	<string>904118811532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.luvdeck.LuvDeck</string>
	<key>PROJECT_ID</key>
	<string>luvdeck</string>
	<key>STORAGE_BUCKET</key>
	<string>luvdeck.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904118811532:ios:c3498a5f979dc7afabf4a9</string>
</dict>
</plist>